@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap')
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: "Anaheim", sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:  center;
    flex-wrap: wrap;
}
body {
    background: radial-gradient(circle at 125% -50%, rgb(26, 110, 15) 20%, rgb(4, 20, 1) 30%, rgb(4, 16, 1) 35%, rgb(4, 12, 1) 40%, rgb(0, 10, 0) 50%);
}
/*Snapshot Section*/
.profile-card{
    width:600px;
    padding: 3rem;
    border-radius: 10px;
    min-height: 400px;
    position: relative;
    color:#fff;
    margin-left: 200px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.profile-card .profile-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
}
.profile-card .profile-details .intro{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.profile-details .intro h2{
    font-size: 5rem;
    max-width: 500px;
}
.profile-details .intro h4{
    font-size: 1.5rem;
    font-weight: 100;
    max-width: 300px;
}
.profile-details .intro .social{
    margin-top: 10px;
    margin-bottom: 25px;
}
.profile-details .intro .social i{
    color:#ddd;
    font-size: 16px;

    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    
    border-radius: 5px;
    border: 1px solid transparent;
    transition: border-color 1s, transform .3s ease; 
}
.profile-details .intro .social i:hover{
    transform: scale(1.2);
    border-color: rgba(53, 167, 72, 0.514); /* Change border color on hover */
}
.profile-details .techstack {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.profile-details .techstack h4 {
    margin-right: 50px;
    font-weight: bold;
    display: inline-block;
    position: relative;
}
.profile-details .techstack h4::after {
    content: ''; 
    position: absolute; 
    top: 50%; 
    right: -30px; 
    width: 2px; 
    height: 50px; 
    border: 1px solid rgb(77, 185, 77);
    box-shadow: 0 0 5px rgb(77, 185, 77), 0 0 5px rgb(77, 185, 77) inset;
    transform: translateY(-50%); 
}
.profile-details .techstack img.tech-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding: 10px;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    margin-top: 30px;

    border: 1px solid rgb(77, 185, 77);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(77, 185, 77), 0 0 5px rgb(77, 185, 77) inset;
    background-color: transparent;

    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    
    transition: all 0.3s ease;
    transition-property: background-color, color;
}
.cta:hover{
    text-shadow:
    0 0 20px rgb(77, 185, 77),
    0 0 50px rgba(77, 185, 77, .9),
    0 0 75px rgba(77, 185, 77, .8),
    0 0 76px rgba(77, 185, 77, .7),
    0 0 77px rgba(77, 185, 77, .6),
    0 0 78px rgba(77, 185, 77, .5),
    0 0 79px rgba(77, 185, 77, .4),
    0 0 80px rgba(77, 185, 77, .3),
    0 0 85px rgba(77, 185, 77, .2),
    0 0 99px rgba(77, 185, 77, .1);
}

/*Hero Section*/
.hero{
    flex: 1;
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 200px;
    padding: 3rem;
    max-width: 500px;
    max-height: 600px;
    color:#fff;
    border: 1px solid rgb(77, 185, 77);
    box-shadow: 0 0 5px rgb(77, 185, 77), 0 0 5px rgb(77, 185, 77) inset;
}
.hero h1 {
    font-size: 3rem;
    text-align: left;
    margin-bottom: 50px; 
    margin-top: 0px; 
    padding: 0px;
}
.hero h2{
    display: block;
    width: fit-content;
    max-width: 100%;
    font-size: 2.5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 0s;
    word-wrap: break-word; /* Allow long words to wrap */
}
.hero h2:nth-of-type(1){
    animation-delay: .5s;
}
.hero h2:nth-of-type(2){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: .5s;
}
.hero h2 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(77, 185, 77);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
.hero h2:nth-of-type(1) span{
    animation-delay: 0s;
}
.hero h2:nth-of-type(2) span{
    animation-delay: 1s;
}
.hero .loading-dots{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.hero .loading-dots span{
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid rgb(77, 185, 77);
    box-shadow: 0 0 5px rgb(77, 185, 77), 0 0 5px rgb(77, 185, 77) inset;
    margin: 0 3px;
    opacity: 0; 
}
.hero .loading-dots span:nth-of-type(1){
    animation-delay: 0.2s;
}
.hero .loading-dots span:nth-of-type(2){
    animation-delay: 0.4s;
}
.hero .loading-dots span:nth-of-type(3){
    animation-delay: 0.6s;
}
.loading {
    animation: dotAnimation 1.2s  ease reverse;
}
.hero .button{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    font-size: 2rem;
    border: 2px solid rgb(77, 185, 77);
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .3s ease-in;
    transition-property: background-color, color;
}
.hero .btn-hov {
    border: 1px solid rgb(77, 185, 77);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(77, 185, 77), 0 0 5px rgb(77, 185, 77) inset;
    transition: all 0.3s ease;
}
.hero .btn-hov:hover{
    text-shadow:
    0 0 20px rgb(77, 185, 77),
    0 0 50px rgba(77, 185, 77, .9),
    0 0 75px rgba(77, 185, 77, .8),
    0 0 76px rgba(77, 185, 77, .7),
    0 0 77px rgba(77, 185, 77, .6),
    0 0 78px rgba(77, 185, 77, .5),
    0 0 79px rgba(77, 185, 77, .4),
    0 0 80px rgba(77, 185, 77, .3),
    0 0 85px rgba(77, 185, 77, .2),
    0 0 99px rgba(77, 185, 77, .1);
}
/*End Hero Section*/

/*Keyframes*/
@keyframes text_reveal_box{
    50%{
        width:100%;
        left:0;
    }
    100%{
        width:0;
        left:100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{ 
    100%{
        color: rgb(77, 185, 77);
    }
}
@keyframes text_hide_name{
    100%{
        color: transparent;
    }
}
@keyframes dotAnimation {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}
.animate-span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(77, 185, 77);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
/*End Keyframes*/

