@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap')
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: "Anaheim", sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:  center;
    flex-wrap: wrap;
}
body {
    background: radial-gradient(circle at 125% -50%, rgb(26, 110, 15) 20%, rgb(4, 20, 1) 30%, rgb(4, 16, 1) 35%, rgb(4, 12, 1) 40%, rgb(0, 10, 0) 50%);
}

/*Hero Section*/
#hero{
    flex: 1;
    margin-right: 300px;
    margin-top: 150px;
}
#hero::after{
    position:absolute;
    left: 0;
    top: 0;
    height:100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(77, 185, 77);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    font-size: 2rem;
    border: 2px solid rgb(77, 185, 77);
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease-in;
    transition-property: background-color, color;
}
#hero .cta:hover{
    color: white;
    background-color: rgb(77, 185, 77);
}
/*Snapshot Section*/
.profile-card{
    /* background-color: #186413;
    background-image: linear-gradient(315deg, #162915 0%, #030f04 74%); */

    width:600px;
    padding: 3rem;
    border-radius: 10px;
    min-height: 400px;
    position: relative;
    color:#fff;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.profile-card .profile-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
}
.profile-details .intro{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.profile-details .intro h2{
    font-size: 5rem;
    max-width: 500px;
}
.profile-details .intro h4{
    font-size: 1.5rem;
    font-weight: 100;
    max-width: 300px;
}
.profile-details .intro .social{
    margin-top: 10px;
    margin-bottom: 25px;
}
.profile-details .intro .social i{
    color:#ddd;
    font-size: 16px;

    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    
    border-radius: 5px;
    border: 1px solid transparent;
    transition: border-color 1s, transform .3s ease; 
}
.profile-details .intro .social i:hover{
    transform: scale(1.2);
    border-color: rgba(53, 167, 72, 0.514); /* Change border color on hover */
}
.profile-details .techstack {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.profile-details .techstack h4 {
    margin-right: 50px;
    font-weight: bold;
    display: inline-block;
    position: relative;
}
.profile-details .techstack h4::after {
    content: ''; /* No content */
    position: absolute; /* Position the separator */
    top: 50%; /* Align vertically */
    right: -30px; /* Adjust distance from h4 */
    width: 2px; /* Set the width of the line */
    height: 50px; /* Set the height (thickness) of the line */
    background-color: green; /* Set color */
    transform: translateY(-50%); /* Center vertically */
}
.profile-details .techstack img.tech-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding: 10px;
}



/*End Hero Section*/

/*Keyframes*/
@keyframes text_reveal_box{
    50%{
        width:100%;
        left:0;
    }
    100%{
        width:0;
        left:100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: rgb(77, 185, 77);
    }
}
/*End Keyframes*/

